body {

    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    ;
}

.container .calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
    border-collapse: collapse;
    table-layout: fixed;

}

.calendar tr, .calendar td {
    border: 1px solid black;

}

.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.calendar td {
    width: 100px;
    height: 60px;
    padding: 20px 0px 0px 5px;
}

.month {
    font-size: 25px;
}

.date {
    font-size: 16px;
}

ul {
    padding: 0px 5px 0px 20px;


}

a {
    color: #17a2b8;
}

.calendar td li {
    position: relative;
    list-style: none;
    font-size: 13px;
}

/*end calednar css
/*radaiobutony*/
.radiobuttons li {
    list-style: none;

}

/*do drop_alertów*/


.dropdown-alerts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

}

.alert_button {
    position: relative;
    width: 100px;
    height: 50px;
    font-size: 16px;
    border: solid 3px;
    background: #17a2b8;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    color: whitesmoke;


}


.dropdown-ul {
    position: absolute;
    margin: 0;
    padding: 0;
    transform-origin: top;
    transition: 0.5s;
    transform: perspective(1000px) rotateX(-90deg);

}

.dropdown-ul.active {
    transform: perspective(1000px) rotateX(0deg);
    position: relative;
}

.dropdown-ul li {
    list-style: none;
}

.dropdown-ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    background: aqua;
    border-bottom: 1px solid;


}

.holiday {
    background-color: yellow;
}


.navbar-nav li:hover>.dropdown-menu {
    display: block;
}