{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Jquery-->
    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.js"
            integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
            crossorigin="anonymous"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'WorkSchedule/css/styles.css' %}" type="text/css">
    <script src="{% static 'WorkSchedule/js/app.js' %}"></script>


    <title>Our Time Sweet WorkCalendar</title>

    {% include 'WorkShedule/navbar.html' %}

</head>
<body style="background-image: url('{% static 'WorkSchedule/img/back1.png' %}')">


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


<!-- Jquery Datapicker-->
{% include 'WorkShedule/date-picker.html' %}

<!--  Django messages -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} text-center">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<!--  Jumbo STARTER -->
{% block jumbo %}
    {% now "n" as current_month %}
    {% now 'Y' as current_year %}
    <div class="container">
        <div class="jumbotron my-2">
            <h1 class="display-4 text-center">Welcome to your ScheduleWork</h1>
            <p class="lead text-center">This tool will help you to organize you time work</p>
            <hr class="my-4">
            <div class="container">
                <div class=" text-center">
                    <a class="btn btn-primary btn-lg"
                       href="{% url 'calendar' month_number=current_month year=current_year %}" role="button">Go to
                        current
                        month</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block description %}

{% endblock %}


{% block content %}
    {% now "n" as current_month %}
    {% now 'Y' as current_year %}


    <div class="container">
        <div class="text-center">
            <a class="btn btn-outline-info mb-4" href="{% url 'calendar' month_number=1 year=current_year %}">
                January</a>
            <a class="btn btn-outline-info mb-4" href="{% url 'calendar' month_number=2 year=current_year %}">
                February </a>
            <a class="btn btn-outline-info mb-4" href="{% url 'calendar' month_number=3 year=current_year %}">
                March </a>
            <a class="btn btn-outline-info mb-4" href="{% url 'calendar' month_number=4 year=current_year %}">
                April </a>
            <a class="btn btn-outline-info mb-4" href="{% url 'calendar' month_number=5 year=current_year %}"> May </a>
            <a class="btn btn-outline-info mb-4" href="{% url 'calendar' month_number=6 year=current_year %}"> June </a>
            <a class="btn btn-outline-info mb-4" href="{% url 'calendar' month_number=7 year=current_year %}"> July</a>
            <a class="btn btn-outline-info mb-4" href="{% url 'calendar' month_number=8 year=current_year %}">
                August </a>
            <a class="btn btn-outline-info mb-4" href="{% url 'calendar' month_number=9 year=current_year %}">
                September </a>
            <a class="btn btn-outline-info mb-4" href="{% url 'calendar' month_number=10 year=current_year %}">
                October </a>
            <a class="btn btn-outline-info mb-4" href="{% url 'calendar' month_number=11 year=current_year %}">
                November </a>
            <a class="btn btn-outline-info mb-4" href="{% url 'calendar' month_number=12 year=current_year %}">
                December </a>
        </div>
    </div>




{% endblock %}
<p></p>
{% block footer %}
    <nav class="navbar fixed-bottom navbar-light bg-secondary" style="height: border-box">
        <a class="navbar-brand" href="#">WorkShedule</a>

        <h3>
            {{ time }}
        </h3>
        {{ request.user }}
        {% if not request.user.is_authenticated %}
            <a class="btn btn-outline-info mb-4" href="{% url 'login' %}"> Log in !</a>
        {% endif %}
    </nav>
{% endblock %}

</body>
</html>