<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}


    <a>Chose Start Time</a>

    <a><input type="radio" name="start_time" value=7> 7:00</a>
    <a><input type="radio" name="start_time" value="8"> 8:00</a>
    <a><input type="radio" name="start_time" value="9"> 9:00</a>
    <a><input type="radio" name="start_time" value="10"> 10:00</a>



    <a><input type="checkbox" name="all_days"> All Days</a>

    <a><input type="checkbox" name="workdays" > Only Workday</a>
    <a><input type="checkbox" name="sat"> Saturdays</a>

    <a><input type="checkbox" name="sun"> Sundays</a>

    <input type="submit" value=Choose>
</form>

</body>
</html>