{% extends 'WorkShedule/base.html' %}
{% block jumbo %}
{% endblock %}
{% block description %}
    <h3 class="text-center my-3">Login</h3>
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    {{ message|safe }}
    <div class="container">
        <div class="content-section mr-auto">

            <form class="ml-5 my-5" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-info right" type="submit" value={{ submit }}>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
            </form>
        </div>
    </div>
{% endblock %}
