{% extends 'WorkShedule/base.html' %}
{% block content %}
    {% block description %}
        <h3 class="text-center my-3">Reset Password</h3>
    {% endblock %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="content-section mr-auto">

            <form class="ml-5 my-5" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-info right" type="submit" value='Reset Password'>
            </form>
        </div>
    </div>
{% endblock %}