{% extends 'WorkShedule/base.html' %}
{% block jumbo %}
{% endblock %}
{% block description %}
    <h1 class="display-5 text-center">DELETE DAY</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST">{% csrf_token %}

            <h2>Are you sure you want to delete :</h2>
            {% for day in  list_day_to_delete %}
                <h4>{{ day.date_day }}"</h4>
            {% endfor %}



            <input class="btn btn-info right" type="submit" value="Confirm"> <a class="btn btn-info right"
                                                                                  href="{% url 'personal_schedule' month_number=month_number year=year %}">Cancel</a>
        </form>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}