{% extends 'WorkShedule/base.html' %}
{% block description %}
    <h1 class="display-5 text-center">Usuń</h1>
{% endblock %}

{% block content %}
<form method="POST">{% csrf_token %}

    <p>Na Pewno chcesz usunąć dzień:</p>
    {% for day in  list_day_to_delete%}
        <p>"{{ day.date_day}}"</p>
    {% endfor %}



    <input class="btn btn-info right" type="submit" value="Potwierdź">  <a class="btn btn-info right" href="{% url 'calendar' month_number=month_number %}">Cancel</a>
</form>
 {% endblock %}